@font-face {
  font-family: "iconfont"; /* Project id 2682032 */
  src: url('iconfont.woff2?t=1627308574052') format('woff2'),
       url('iconfont.woff?t=1627308574052') format('woff'),
       url('iconfont.ttf?t=1627308574052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-githublogo:before {
  content: "\e607";
}

.icon-email:before {
  content: "\e610";
}

.icon-zhuangtai:before {
  content: "\e678";
}

.icon-xinzifanwei:before {
  content: "\e631";
}

.icon-zhaopingangwei:before {
  content: "\e617";
}

.icon-didian:before {
  content: "\e671";
}

.icon-gongzuo:before {
  content: "\e656";
}

.icon-jishufuwu:before {
  content: "\e64d";
}

