.experience {
  .experience-item {
    overflow: hidden;
    margin-bottom: 2px;

    .experience-item-priod {
      float: left;
      width: 30%;
    }

    .experience-item-company {
      float: left;
      width: 45%;
    }

    .experience-item-post {
      float: left;
      width: 25%;
    }
  }
}
